:root {
  --main-dark-green: rgba(37, 71, 40, 1);
  --main-light: rgba(249, 235, 224, 1);
  --main-red: rgba(136, 14, 0, 1);
  --main-purp: rgba(71, 37, 68, 1);
  --main-dark: rgba(59, 59, 58, 1);
  --links: rgba(15, 104, 118, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--links);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilites */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.x-small {
  font-size: 0.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--main-dark-green);
}

.text-dark {
  color: var(--main-dark);
}

.font-display {
  font-family: 'Josefin Sans', sans-serif;
}

.font-header {
  font-family: 'Merriweather Sans', sans-serif;
}
.font-content {
  font-family: 'Poppins', sans-serif;
}
/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--main-light);
  color: var(--main-dark);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.bg-primary {
  background: var(--main-dark-green);
  color: var(--main-light);
}

.btn-purp,
.bg-purp {
  background: var(--main-purp);
  color: var(--main-light);
}

.bg-green {
  background: var(--main-dark-green);
  color: white;
}

.btn-light,
.bg-light {
  background: 000;
  color: var(--main-dark);
}

.btn-white,
.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.round-img {
  border-radius: 50%;
}

.card:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
.card-content {
  padding: 2px 16px;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero {
  position: relative;
  background: url(images/horesbackground.jpg) no-repeat center center/cover;
  height: 75vh;
}

.hero-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-collage {
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.box1 {
  z-index: 1;
}

.box2 {
  margin-top: -20%;
  z-index: 1;
}

.box3 {
  z-index: 1;
}

.about {
  max-width: 700px;
  margin: auto;
  padding: 3rem;
}

.info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(500px, auto);
}

.info1 {
  padding: 4rem 1rem;
}

.info2 {
  background: url(images/ribbons.jpg) no-repeat center center/cover;
  min-height: 100%;
}

.offer-group {
  display: grid;
  align-items: center;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-auto-rows: auto; */

  grid-gap: 1rem;
}

/* 
.hero {
  background: url(images/horesbackground.jpg);
  background-size: cover;
  padding: 4rem 2rem;
 
  color: white;
  font: var(--display-font);
  
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
 

} */
